.container {
    display: flex;
}

.grid  {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: dimgray;
}

.grid div {
    width: 20px;
    height: 20px;
}

.tetromino {
    background-color: goldenrod;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color:darkslategray;
}

.mini-grid div {
    width: 20px;
    height: 20px;
}